- url = "/contest/#{@contest.id}"
.container.py-8{'data-controller' => 'edit-contest', 'data-edit-contest-url-value'=> url, 'data-edit-contest-status-value'=> @contest.status}
  = form_with model: @article, url: url, method: :patch do |f|
    %div
    %p= @contest.name
    = render 'contest/edit_components/status_input', f: f
    = render 'contest/edit_components/share_with_user', f: f
    .mt-6
      .text-lg.mt-4
        Entrants:
      %ul.mt-1
      - @contest.entries.each do |e|
        %li.text-base.ml-2
          = e.name
    .mt-12
      = render 'contest/edit_components/save_button'
